body {
    font-family: Helvetica, Arial, Sans-Serif;
}

/*Навигация*/

.navigation-wrapper {
    max-width: 1024px;
    margin: 40px auto;
    text-align: right;
}

.navigation {
    display: inline-block;
    width: 690px;
    padding: 10px 10px 10px 10px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background: white;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
}

.navigation ul {
    padding: 0px;
    text-align: center;
    list-style-type: none;
}

.navigation li {
    display: inline-block;
    margin: 0px 15px;
}

.navigation__link:hover {
    text-decoration: none;
}

.navigation__link_personal-account {
    color: #4900c3;
}

.navigation__link_section-1 {
    color: #14731b;
}

.navigation__link_section-2 {
    color: #0e73d9;
}

.navigation__link_section-3 {
    color: #dd4c00;
}

.navigation__link_section-4 {
    color: #333333;
}

.navigation__link_section-5 {
    color: #b60700;
}

/*Основной контейнер*/

.main-container {
    max-width: 1024px;
    margin: auto;
}

/*Левая колонка с описанием сайта*/

.website-info {
    float: left;
    vertical-align: top;
    width: 200px;
    margin: 0px 40px;
}

/*Правая колонка с информацией о пользователе*/

.input-container {
    overflow: hidden;
}

/*Пошаговый индикатор заказа билетов*/

.progress {
    margin: 0 0 20px 20px;
    overflow: hidden;
}

.progress__header {
    float: left;
    margin: 0 20px;
}

.progress__bar {
    margin: 20px 0 0 0;
    overflow: hidden;
}

.progressbar__block {
    box-sizing: border-box;
    display: inline-block;
    width: 18%;
    text-align: center;
    font-style: italic;
    font-size: 0.8em;
    color: white;
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(0,0,0,0.35);
    box-shadow: inset 0px 2px 2px 0px rgba(0,0,0,0.35);
}

.progressbar__block_done {
    background: #39a518;
}

.progressbar__block_current {
    background: #9fd206;
}

.progressbar__block_next {
    background: #f6f6f6;
    color: black;
}

.progressbar__block_first {
    -moz-border-radius: 5px 0px 0px 5px;
    -webkit-border-radius: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;
}

.progressbar__block_last {
    -moz-border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;    
}

/*Информация о пользователе*/

.fieldset-data {
    border: none;
    border-top: 1px solid #cacaca;
}

.fieldset-data legend{
    font-style: italic;
    color: #666666;
}

.input-data {
    display: inline-block;
    width: 25%;
    min-width: 190px;
    margin: 10px 20px 25px 10px;
}

.input-data__text {
    box-sizing: border-box;
    width: 100%;
}

.input-data__label {
    display: block;
    margin: 0 0 10px 0;
    font-weight: bold;
}

.radio-btn-input {
    display: none;
}

.radio-btn-input + .radio-btn-label {
    border-bottom: 1px dotted #000;
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.radio-btn-input:checked + .radio-btn-label {
    padding: 2px 5px;
    outline: none;
    text-decoration: none;
    border: none;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background: #8cb903;
    color: white;
}

.input-birthplace {
    box-sizing: border-box;
    display: block;
    width: 95%;
}

.input-hint {
    font-size: 0.9em;
    color: #9191a8;
}

/*Кнопки "Назад" и "Вперед""*/

.input-buttons {
    background-color: #f2f2f2;
}

.btn {
    display: inline-block;
    margin: 5px;
    border: none;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    outline: none;
    text-decoration: none;
    background: #8cb903;
    color: white;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
}

.btn:hover {
    cursor: pointer;
    background: #f3f3f3;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.45);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.45);
    color: black;
}

.btn:active {
    transform: translateY(1px);
    background: #f0f0f0;
    -webkit-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.75);    
}

.btn-normal {
    padding: 5px 20px;
    font: 1em Arial, serif;
}

.btn-small {
    padding: 3px 10px;
    font: 0.7em Arial, serif;
}

.btn-big {
    padding: 10px 30px;
    font: 1.2em Arial, serif;
}

.btn-next {
    float: right;
}

.btn-prev {
    float:left;
    background-color: #a1a1a1;
}

.btn-prev::before {
    position: relative;
    top: -2px;
    content: "\02190";
}

.btn-next::after {
    content: "\02192";
}

.website-info_small {
    display: none;
    font-size: 0.7em;
    text-align: center;
}

/*Отображение страницы для разной ширины экрана*/

@media only screen and (max-width: 767px) {
    .navigation {
        width: auto;
        max-width: 690px;
    }
    .website-info {
        display: none;
    }
    .website-info_small {
        display: block;
    }
    .input-container {
        max-width: 720px;
    }
}

@media only screen and (max-width: 505px) {
    .input-data {
        box-sizing: border-box; 
        display: block;
        width: 95%;     
    }
    .navigation-wrapper {
        margin: 0;
    }
    .progress__header {
        display: none;
    }
    .navigation li {
        display: block;
    }
    .navigation-wrapper {
        text-align: center;
    }
    .btn{
        box-sizing: border-box;
        width: 36vw;
        font-size: 4vw;
    }
}

@media only screen and (max-width: 319px) {
    .progress {
        display: none;
    }
    .navigation-wrapper {
        margin: 0 0 40px 0;
    }
    .input-buttons {
        text-align: center;
    }
    .btn-prev, .btn-next {
        float: none;
    }
    .input-data, .input-data select, .btn, .website-info_small{
        font-size: 5vw;
    }
    .btn {
        width: auto;
    }
    .input-data {
        min-width: auto;
        margin: 10px 10px 25px 10px;
    }
}

@media only screen and (max-width: 219px) {
    .input-data, .input-data select, .btn{
        width: 50vw;
    }
    .btn {
        padding: 0;
    }
}