/*Основной контейнер*/

.main-wrapper {
    display: none;
}

/*Строка фильтрации*/

.filter {
    margin: 10px; 
}

/*Таблица*/

table,td,th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 2px;
}

th {
    background-color: gray;
    cursor: pointer;
}

/*Информация о клиенте при нажатии на строку*/

.info {
    display: none;
    margin: 20px;
}

/*Сообщение при загрузке файла*/

.loading {
    display: none;
}