body {
    font-family: Helvetica, Arial, Sans-Serif;
}

/*Навигация*/

.nav-section {
    max-width: 1024px;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 40px;
    text-align: right;
}

.navigation {
    display: inline-block;
    max-width: 786px;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    background: white;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
}

.navigation ul {
    text-align: center;
    list-style-type: none;
    padding-left: 0px;
}

.navigation li {
    display: inline-block;
    margin: 0px 15px;
}

.personal-account {
    color: #4900c3;
}

.section-1 {
    color: #14731b;
}

.section-2 {
    color: #0e73d9;
}

.section-3 {
    color: #dd4c00;
}

.section-4 {
    color: #333333;
}

.section-5 {
    color: #b60700;
}

/*Основной контейнер*/

.main-container {
    max-width: 1024px;
    margin: auto;
}

/*Левая колонка с описанием сайта*/

.aside-info {
    float: left;
    vertical-align: top;
    width: 200px;
    margin: 0px 40px;
}

/*Правая колонка с информацией о пользователе*/

.input-container {
    overflow: hidden;

}

/*Пошаговый индикатор заказа билетов*/

.form-progress{
    margin-bottom: 20px;

    overflow: hidden;
}

.progress-header {
    float: left;
    width: 145px;
    margin-right: 20px;
}

.progress-bar {
    margin-top: 20px;
    overflow: hidden;
}

.progress {
    box-sizing: border-box;
    display: inline-block;
    width: 18%;
    text-align: center;
    font-style: italic;
    font-size: 0.8em;
    color: white;
    box-shadow: inset 0px 2px 2px 0px rgba(0,0,0,0.35);
}

.progress-done {
    background: #39a518;
}

.progress-current {
    background: #9fd206;
}

.progress-next {
    background: #f6f6f6;
    color: black;
}

.progress-first {
    border-radius: 20px 0px 0px 20px;
}

.progress-last {
    border-radius: 0px 20px 20px 0px;    
}

/*Информация о пользователе*/

.input-data {
    border: none;
    border-top: 1px solid #cacaca;
}

.input-data legend{
    font-style: italic;
    color: #666666;
}

.input-wrapper {
    display: inline-block;
    width: 200px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.input-text {
    width: 100%;
}

.input-data-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.radio-btn-input {
    display: none;
}

.radio-btn-input + .radio-btn-label {
    border-bottom: 1px dotted #000;
    text-decoration: none;
    cursor:pointer;
    color:black;
}

.radio-btn-input:checked + .radio-btn-label {
    padding: 2px 5px;
    outline: none;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    background: #8cb903;
    color: white;
}

.input-birthplace {
    display: block;
    width: 95%;
    box-sizing: border-box;
}

.input-hint {
    font-size: 0.9em;
    color: #9191a8;
}

/*Кнопки "Назад" и "Вперед""*/

.btn {
    display: inline-block;
    margin: 5px;
    border: none;
    border-radius: 30px;
    outline: none;
    text-decoration: none;
    background: #8cb903;
    color: white;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
}

.btn:hover {
    cursor: pointer;
    background: #f3f3f3;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.45);
    color: black;
}

.btn:active {
    transform: translateY(1px);
    background: #f0f0f0;
    box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.75);    
}

.btn-normal {
    padding: 5px 20px;
    font: 1em Arial, serif;
}

.btn-small {
    padding: 3px 10px;
    font: 0.7em Arial, serif;
}

.btn-big {
    padding: 10px 30px;
    font: 1.2em Arial, serif;
}

.btn-next {
    float: right;
}

.btn-prev {
    float:left;
    background-color: #a1a1a1;
}

.btn-prev::before {
    position: relative;
    top: -2px;
    content: "\02190";
}

.btn-next::after {
    content: "\02192";
}

.button-field {
    background-color: #f2f2f2;
}

.aside-info-small {
    display: none;
    font-size: 0.7em;
    text-align: center;
}

/*Отображение страницы для разной ширины экрана*/

@media only screen and (max-width: 767px) {
    .aside-info {
        display: none;
    }
    .aside-info-small {
        display: block;
    }
    .input-container {
        max-width: 720px;
    }
}

@media only screen and (max-width: 505px) {
    .input-wrapper {
        display: block;
        width: 95%;
        box-sizing: border-box; 
        text-align: center;      
    }
}

@media only screen and (max-width: 479px) {
    .nav-section {
        margin-top: 0px;
    }
    .progress-header {
        display: none;
    }
    .navigation li {
        display: block;
    }
    .nav-section {
        text-align: center;
    }
}

@media only screen and (max-width: 319px) {
    .form-progress {
        display: none;
    }
    .button-field {
        text-align: center;
    }
    .btn-prev, .btn-next {
        float: none;
    }
    .input-wrapper, .input-wrapper select, .btn, .aside-info-small{
        font-size: 5vw;
    }
}

@media only screen and (max-width: 215px) {
    .input-wrapper, .input-wrapper select, .btn{
        width: 50vw;
    }
    .btn {
        padding: 0;
    }
}