body {
    font-family: Helvetica, Arial, Sans-Serif;
}

.wrapper-container {
    max-width: 1024px;
    margin: auto;
}

.nav-section {
    text-align: right;
    margin: auto;
    max-width: 1024px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.navigation {
    display: inline-block;
    background: white;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    max-width: 786px;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
}

.navigation ul {
    text-align: center;
    list-style-type: none;
}

.navigation li {
    display: inline-block;
    margin: 0px 15px;
}

.personal-account {
    color: #4900c3;
}

.section-1 {
    color: #14731b;
}

.section-2 {
    color: #0e73d9;
}

.section-3 {
    color: #dd4c00;
}

.section-4 {
    color: #333333;
}

.section-5 {
    color: #b60700;
}

.main-container {
    display: table;
    max-width: 1024px;
    margin: auto;
}

.aside-info {
    display: table-cell;
    width: 200px;
    margin-right: 40px;
}

.input-container {
    display: table-cell;
}

.form-progress{
    display: table;
        height: 80px;
}

.form-progress p{
    display: inline-block;

}

.progress-bar {
    box-sizing: border-box;
    display: table-cell;
    width: 80%;
}

.progress {
    box-sizing: border-box;
    width: 15%;
    display: inline;
    text-align: center;
    font-style: italic;
    font-size: 0.8em;
    color: white;
    padding: 0px 30px;
    box-shadow: inset 0px 2px 2px 0px rgba(0,0,0,0.35);
}

.progress-done {
    background: #39a518;
}

.progress-current {
    background: #9fd206;
}

.progress-next {
    background: #f6f6f6;
    color: black;
}

.progress-first {
    border-radius: 20px 0px 0px 20px;
}

.progress-last {
    border-radius: 0px 20px 20px 0px;    
}

.input-data {
    border: none;
    border-top: 1px solid #cacaca;
    text-align: justify;
}

.input-data:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.input-data legend{
    font-style: italic;
    color: #666666;
}

.input-wrapper {
    width: 200px;
    display: inline-block;
    margin-bottom: 25px;
    margin-left: 30px;
    margin-right: 30px;
}

.input-text {
    width: 100%;
}

.input-data-label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.radio-btn-input {
    display: none;
}


.radio-btn-input + .radio-btn-label {
    color:black;
    border-bottom: 1px dotted #000;
    text-decoration: none;
    cursor:pointer;
}

.radio-btn-input:checked + .radio-btn-label {
    border: none;
    border-radius: 8px;
    outline: none;
    padding: 2px 5px;
    text-decoration: none;
    background: #8cb903;
    color: white;
}

.input-birthplace {
    display: block;
    width: 95%;
    box-sizing: border-box;
}

.input-hint {
    color: #9191a8;
    font-size: 0.9em;
}

.btn {
    display: inline-block;
    margin: 5px;
    border: none;
    border-radius: 30px;
    outline: none;
    text-decoration: none;
    background: #8cb903;
    color: white;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
}

.btn:hover {
    cursor: pointer;
    background: #f3f3f3;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.45);
    color: black;
}

.btn:active {
    transform: translateY(1px);
    background: #f0f0f0;
    box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.75);    
}

.btn-normal {
    padding: 5px 20px;
    font: 1em Arial, serif;
}

.btn-small {
    padding: 3px 10px;
    font: 0.7em Arial, serif;
}

.btn-big {
    padding: 10px 30px;
    font: 1.2em Arial, serif;
}

.btn-next {
    float: right;
}

.btn-prev {
    float:left;
    background-color: #a1a1a1;
}

.btn-prev::before {
    content: "\02190";
    position: relative;
    top: -2px;
}

.btn-next::after {
    content: "\02192";
}

.button-field {
    background-color: #f2f2f2;
}

@media only screen and (max-width: 767px) {
    .aside-info {
        display: none;
    }
}

@media only screen and (max-width: 479px) {
    .progress-header {
        display: none;
    }
    .navigation li {
        display: block;
    }

}

@media only screen and (max-width: 300px) {
    .form-progress {
        display: none;
    }
}